# Configurazione e credenziali
config.py
trakt_token.json
status_cache.json
PyTaskTV.bat
tvtracker.service
_roadmap.txt
logs/

# Python
__pycache__/
__bak__/
*.py[cod]
*$py.class
*.so
.Python
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo